<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <display-name>Taiwan Academic Book Purchase</display-name>
    <context-param>
        <param-name>databaseUrl</param-name>
        <param-value>jdbc:mysql://localhost:3306/store</param-value>
    </context-param>
    <servlet>
        <servlet-name>ResultSetToJson</servlet-name>
        <servlet-class>com.bookPurchase.database.ResultSetToJson</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controller</servlet-name>
        <servlet-class>com.bookPurchase.database.Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClientSelecter</servlet-name>
        <servlet-class>com.bookPurchase.database.ClientSelecter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClientInserter</servlet-name>
        <servlet-class>com.bookPurchase.database.ClientInserter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClientDeleter</servlet-name>
        <servlet-class>com.bookPurchase.database.ClientDeleter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClientUpdater</servlet-name>
        <servlet-class>com.bookPurchase.database.ClientUpdater</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookSelecter</servlet-name>
        <servlet-class>com.bookPurchase.database.BookSelecter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookUpdater</servlet-name>
        <servlet-class>com.bookPurchase.database.BookUpdater</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookInserter</servlet-name>
        <servlet-class>com.bookPurchase.database.BookInserter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookDeleter</servlet-name>
        <servlet-class>com.bookPurchase.database.BookDeleter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderSelecter</servlet-name>
        <servlet-class>com.bookPurchase.database.OrderSelecter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BooksOfOrderSelecter</servlet-name>
        <servlet-class>com.bookPurchase.database.BooksOfOrderSelecter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderInserter</servlet-name>
        <servlet-class>com.bookPurchase.database.OrderInserter</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ResultSetToJson</servlet-name>
        <url-pattern>/ResultSetToJson</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controller</servlet-name>
        <url-pattern>/Controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClientSelecter</servlet-name>
        <url-pattern>/client.list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClientInserter</servlet-name>
        <url-pattern>/ClientInserter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClientDeleter</servlet-name>
        <url-pattern>/ClientDeleter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClientUpdater</servlet-name>
        <url-pattern>/ClientUpdater</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookSelecter</servlet-name>
        <url-pattern>/book.list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookUpdater</servlet-name>
        <url-pattern>/BookUpdater</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookInserter</servlet-name>
        <url-pattern>/BookInserter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookDeleter</servlet-name>
        <url-pattern>/BookDeleter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderSelecter</servlet-name>
        <url-pattern>/order.list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BooksOfOrderSelecter</servlet-name>
        <url-pattern>/BooksOfOrderSelecter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderInserter</servlet-name>
        <url-pattern>/OrderInserter</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <page-encoding>UTF-8</page-encoding>
        </jsp-property-group>
    </jsp-config>
</web-app>
